{% load i18n %}

<button
    class="sticky toggle-nav-sidebar"
    id="toggle-nav-sidebar"
    aria-label="{% translate 'Toggle navigation' %}">
</button>

<nav
    class="sticky"
    id="nav-sidebar"
    aria-label="{% translate 'Sidebar' %}">

    {% with current=request.resolver_match.url_name %}

        <a
            href="{% url 'admin:index' %}"
            class="pm-dashboard-link {% if current == 'index' %}active{% endif %}">
            Tổng quan
        </a>

        <div class="pm-menu-section-title">
            QUẢN LÝ DÒNG TIỀN
        </div>


        <!-- GIAO DỊCH -->
        <details
            class="pm-menu-group"
            {% if current == 'cashflow_transaction_changelist' or current == 'cashflow_transaction_add' or current == 'cashflow_transaction_change' %}
                open
            {% endif %}>

            <summary>
                Giao dịch
            </summary>

            <div class="pm-submenu">

                <a
                    href="{% url 'admin:cashflow_transaction_changelist' %}"
                    class="{% if current == 'cashflow_transaction_changelist' %}active{% endif %}">
                    Tất cả giao dịch
                </a>

                <a
                    href="{% url 'admin:cashflow_transaction_add' %}"
                    class="{% if current == 'cashflow_transaction_add' %}active{% endif %}">
                    Thêm giao dịch
                </a>

            </div>

        </details>

{% comment %} // Đơn hàng // {% endcomment %}
<details class="pm-menu-group"
    {% if current == 'cashflow_order_changelist' or current == 'cashflow_order_add' or current == 'cashflow_order_change' or current == 'cashflow_order_delete' %}open{% endif %}>

    <summary>Đơn hàng</summary>

    <div class="pm-submenu">
        <a href="{% url 'admin:cashflow_order_changelist' %}"
           class="{% if current == 'cashflow_order_changelist' or current == 'cashflow_order_change' or current == 'cashflow_order_delete' %}active{% endif %}">
            Danh sách đơn hàng
        </a>

        <a href="{% url 'admin:cashflow_order_add' %}"
           class="{% if current == 'cashflow_order_add' %}active{% endif %}">
            Thêm đơn hàng
        </a>
    </div>
</details>


        <!-- NGƯỜI GỬI / NGƯỜI NHẬN -->
        <details
            class="pm-menu-group"
            {% if current == 'cashflow_counterparty_changelist' or current == 'cashflow_counterparty_add' or current == 'cashflow_counterparty_change' %}
                open
            {% endif %}>

            <summary>
                Người gửi / Người nhận
            </summary>

            <div class="pm-submenu">

                <a
                    href="{% url 'admin:cashflow_counterparty_changelist' %}"
                    class="{% if current == 'cashflow_counterparty_changelist' %}active{% endif %}">
                    Danh sách người gửi - nhận
                </a>

                <a
                    href="{% url 'admin:cashflow_counterparty_add' %}"
                    class="{% if current == 'cashflow_counterparty_add' %}active{% endif %}">
                    Thêm mới người gửi - nhận
                </a>

            </div>

        </details>


        <!-- NGÂN HÀNG -->
        <details
            class="pm-menu-group"
            {% if current == 'cashflow_account_changelist' or current == 'cashflow_account_add' or current == 'cashflow_account_change' %}
                open
            {% endif %}>

            <summary>
                Ngân hàng
            </summary>

            <div class="pm-submenu">

                <a
                    href="{% url 'admin:cashflow_account_changelist' %}?account_type__exact=BANK"
                    class="{% if current == 'cashflow_account_changelist' %}active{% endif %}">
                    Danh sách ngân hàng
                </a>

                <a
                    href="{% url 'admin:cashflow_account_add' %}?bank=1"
                    class="{% if current == 'cashflow_account_add' %}active{% endif %}">
                    Thêm ngân hàng
                </a>

            </div>

        </details>


    {% endwith %}


    

</nav>